.protected-route-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.protected-route-message {
  font-size: 1.5em;
  color: #333;
}
